/* Overall todolist styling */
#todolist {
    width: min(900px, 90vw);
    margin: 0 auto;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: var(--todolist-gap);
}

.todolist-item {
    width: 100%;
    border: 2px solid #111;
    border-radius: 10px;
    height: var(--task-height);
    padding: 0px 10px;
    color: var(--text-color);
    background-color: var(--todolist-item-bg-color);
    transition: height 250ms ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
}

.todolist-item-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.todolist-item.task-open .todolist-item-content {
    display: block;
    padding-top: 5px;
}

.todolist-item-title {
    font-size: calc(0.2vw + 1.3rem);
    position: absolute;
    left: calc(30px + 0.5vw);
    top: calc(4px - 0.15vw);
}

.todolist-item-desc {
    font-size: calc(0.1vw + 0.8rem);
    max-width: 90%;
    padding-top: 30px;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Fades in task content when task is opened */
.todolist-item.task-open .todolist-item-desc {
    animation: 400ms appear ease-in-out;
}

/* Styles for todolist item buttons */

.todolist-item .todolist-item-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 7px;
    padding-right: 3px;
    height: 100%;
    align-items: baseline;
    padding-top: calc(6px - 0.2vw);
}

.todolist-item:not(.task-form) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todolist-item .task-btn {
    font-size: calc(0.3vw + 1.15rem);
    padding-top: 4px;
    border-radius: 5px;
    position: relative;
    color: #111;
    transition: color 0.2s ease;
}

.todolist-item .task-btn:hover {
    cursor: pointer;
    color: #222;
}

.todolist-item .task-btn::after {
    width: max-content;
    height: max-content;
    font-size: calc(0.25vw + 0.9rem);
    font-family: var(--text-font);
    font-weight: 400;
    color: #222;
    position: absolute;
    top: 50%;
    translate: 0 -35%;
    opacity: 0;
    transition: opacity 100ms ease;
    pointer-events: none;
}

.todolist-item .fa-chevron-down { /* open task button */
    transition: transform 250ms ease-in-out;
    position: absolute;
    left: 8px;
    top: calc(5px - 0.15vw);
}

.todolist-item.task-open .fa-chevron-down {
    transform: rotate(180deg);
}

/* text showed beside task buttons when hovered */

.todolist-item .delete-task-btn::after {
    content: "Delete";
    left: calc(-1.4vw - 90px);
}

.todolist-item .complete-task-btn::after {
    content: "Complete";
    left: calc(-1.2vw - 61px);
}

.todolist-item .edit-task-btn::after {
    content: "Edit";
    left: calc(-1vw - 51px);
}

.todolist-item.task-editing .delete-task-btn::after {
    content: "Delete";
    left: calc(-1.1vw - 64px);
}

.todolist-item.completed-task .edit-task-btn::after {
    left: calc(-0.4vw - 33px);  
}

.todolist-item.completed-task .delete-task-btn::after {
    left: calc(-0.95vw - 70px);  
}

.todolist-item.task-editing.completed-task .delete-task-btn::after {
    left: calc(-0.65vw - 45px);  
}

.todolist-item .delete-task-btn:hover::after, 
.todolist-item .complete-task-btn:hover::after,
.todolist-item .edit-task-btn:hover::after {
    opacity: 1;
}

/* task states (completed, open, editing) */

.todolist-item.completed-task {
    background-color: rgb(179, 235, 179);
}

.todolist-item.completed-task .todolist-item-title {
    text-decoration: line-through;
}
.todolist-item.completed-task .todolist-item-desc {
    text-decoration: line-through;
}

.todolist-item.task-open {
    height: 120px;
}

.todolist-item.task-editing {
    background-color: blue;
}

/* Priority based styling */

.todolist-item.priority-1 {
    
}

.todolist-item.priority-2 {
    
}

.todolist-item.priority-3 {
    
}

.todolist-item.priority-4 {
    
}

.todolist-item.priority-5 {
    
}

.todolist-item.priority-6 {
    
}

.todolist-item.priority-7 {
    
}

.todolist-item.priority-8 {
    
}

.todolist-item.priority-9 {
    
}

.todolist-item.priority-10 {
    
}

/* Task buttons */

#task-buttons {
    width: 100%;
    display: flex;
    justify-content: right;
    column-gap: var(--todolist-gap);
}

/* 'Add new Task' button */

.todolist-item.add-task-button {
    padding: 0 calc(15px + 0.5vw);
    font-family: var(--header-font);
    width: calc(57% - 16vw);
    height: var(--todolist-button-height);
}

@media (max-width: 450px) {
    .todolist-item.add-task-button {
        padding: 0 calc(5px + 1vw);
    }
}

.todolist-item.add-task-button:hover {
    background-color: var(--todolist-item-bg-color-hover);
    cursor: pointer;
}

.add-task-button-text {
    font-size: calc(0.1vw + 1rem);
}

.add-task-button-icon {
    font-size: calc(0.3vw + 1.3rem);
}

/* 'Clear Tasks' button */

.todolist-item.clear-tasks-button {
    font-family: var(--header-font);
    width: calc(34% - 10vw);
    height: var(--todolist-button-height);
}

@media (max-width: 450px) {
    .todolist-item.clear-tasks-button {
        padding: 0 calc(5px + 1vw);
    }
}

.todolist-item.clear-tasks-button:hover {
    background-color: var(--todolist-item-bg-color-hover);
    cursor: pointer;
}

.clear-tasks-button-text {
    font-size: calc(0.1vw + 1rem);
    padding-left: calc(5px + 0.2vw);
}

.clear-tasks-button-icon {
    font-size: calc(0.3vw + 1.3rem);
    padding-right: 5px;
}

/* styles for add and edit task forms */

.task-form {
    display: flex;
    flex-direction: column;
    font-family: var(--text-font);
    height: 300px;
    padding-top: 5px;
}

.task-form input[type="text"] {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid var(--navbar-color);
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 15px;
    padding-left: 5px;
    font-family: var(--input-font);
    font-size: 1rem;
    position: relative;
}

.task-form .priority-range {
    margin: 0 auto;
    margin-top: 15px;
    width: 90%;
    max-width: 650px;

    display: flex;
    flex-direction: column-reverse;

}

.task-form .priority-range .priority-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    user-select: none;
}


.task-form .form-buttons {
    margin-top: calc(38px - 0.4vw);
    display: flex;
    justify-content: space-evenly;
}

.task-form button {
    width: calc(40% - 5vw);
    height: calc(40px + 0.2vw);
    border: none;
    border-radius: 50px;
    font-family: var(--input-font);
    font-size: 0.85rem;
    transition: background-color 200ms ease, box-shadow 0.15s ease-in-out;
}

.task-form button:hover {
    cursor: pointer;
}

.task-form button[type="submit"] {
    color: #f7f7f7;
    background-color: var(--navbar-highlight-color);
}

.task-form button[type="submit"]:hover {
    background-color: #33558b;
}

.task-form .cancel-btn {
    color: var(--text-color);
    background-color: #d8d8d8;
}

.task-form .cancel-btn:hover {
    background-color: #e1e1e1;
}

/* Animating add and edit task forms */

@keyframes add-form-slide {
    from {
        height: var(--todolist-button-height);
    }
    to {
        height: 300px;
    }
}

@keyframes edit-form-slide {
    from {
        height: var(--task-height);
    }
    to {
        height: 300px;
    }
}

@keyframes form-content-appear {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#add-task-form {
    animation: 400ms add-form-slide ease;
}

#edit-task-form {
    animation: 400ms edit-form-slide ease;
}

.task-form > * {
    animation: 600ms form-content-appear ease;
}

/* casting shadows on tasks and certain elements */

.todolist-item, .task-form button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.todolist-item:hover, .task-form button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}