@import url("variables.css");

.main {
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
  position: relative;
  top: var(--navbar-height);
  left: 0;

  background-color: var(--background-color);
  color: var(--text-color);
}